

body {
  padding: 50px;
}
a {
  color: #337ab7;
}
.margin-auto {
  margin: 0 auto;
}

/**/

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header {
  /* float: left; */
  margin: 0 auto;
  /* width: 370px; */
  width: 960px;
  padding: 20px;
  /*position: fixed;*/
}
@media screen and (max-width: 1050px) {
  header {
    float: none;
    width: auto;
  }
}
section {
  /* float: right; */
  margin: 0 auto;
  padding-bottom: 50px;
  /* width: 550px; */
  max-width: 960px;
  background-color: #ffffff;
}
@media screen and (max-width: 1050px) {
  section {
    float: none;
    width: auto;
  }
}
footer {
  float: left;
  width: 370px;
  /*position: fixed;*/
  /*bottom: 50px;*/
}

.section-title {
  font-variant: small-caps;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.my-photo {
  background-image: url(../images/my-photo.jpg);
  background-position: center center;
  background-size: 250px auto;

  height: 150px;
  width: 150px;

  transition: border-radius 300ms linear 0s;
  -webkit-transition: border-radius 300ms linear 0s;
  -ms-transition: border-radius 300ms linear 0s;
}
.my-info {
  margin-top: 20px;
}
.my-info .btn {
  margin-bottom: 5px;
}
.my-info .fa {
  margin-right: 8px;
}
.table td:first-child {
  width: 200px;
}
.table .type-info {
  color: #767676;
  vertical-align: middle;
}
.table i[class^="fa-"] {
  margin-right: 5px;
}
.icon-google-plus-g {
  color: #dd4b39;
}
.icon-github {
  color: #444444;
}